{
    "sourceMap"  : false,
    "instrument" : false,
    "all"        : true,

    "require": [
        "@babel/register"
    ],

    "exclude": [
        "build",
        "dist",
        "node_modules",
        "**/node_modules/*",
        "**/*.spec.{ts,js}",
        "**/*.d.ts"
    ],

    "reporter": [
        "lcov",
        "html",
        "text"
    ],

    "extension": [
        ".jsx",
        ".tsx",
        ".ts",
        ".js"
    ]
}